.header {
    min-height: 50px;
    max-height: 103px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    margin: 10px;
}

.ukr {
    color: #E8C23E;
}

.banner {
    height: 803px;
    background-image: url(../img/background.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-left: 118px;
}

.content {
    box-sizing: border-box;
    color: white;
    width: 90%;
    font-size: 48px;
    padding-left: 3%;
    background-repeat: no-repeat;
    height: 400px;
    background-image: url(../img/flag.png);
    font-family: 'inika', sans-serif;
}

.main {
    padding: 0 80px;
    font-family: 'inika', sans-serif;
}

.h1 {
    font-size: 40px;
    font-weight: 700;
    height: 63px;
    margin: 50px;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    padding-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 350px;
    color: black;
    font-weight: 700;
    box-shadow: 0px 4px 57px 3px;
    border-radius: 30px 30px 10px 10px;
    height: 501px;
    display: inline-block;
    vertical-align: top;
    margin: 0.933%;
}

.card__image {
    width: 100%;
}

.card__title {
    color: #1E8DF2;
    font-size: 30px;
    box-sizing: border-box;
    padding: 10px;
}

.card__subtitle {
    color: #E8C23E;
    font-size: 26px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
}

.h2 {
    font-size: 40px;
    font-weight: 700;
    height: 63px;
    margin: 50px 50px 0 50px;
    text-align: center;
}

.imgukr {
    padding-left: 240px;
}

.line2 {
    border-bottom: 5px solid #3E45E8;
    padding-top: 20px;
    margin: 0 395px 50px 395px;
}

.pidtr {
    background-color: #2A61F0;
    text-align: center;
    color: white;
    margin: 0 250px 0 250px;
    font-size: 64px;
    border-radius: 40px;
}

.footer {
    background-color: #2F4A4B;
    height: 320px;
    margin-top: 20px;
    text-align: center;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
}

.contacts {
    font-family: 'Marcellus SC', sans-serif;
    color: #A89D9D;
    font-size: 36px;
    padding: 20px 0 20px 0;
}

.test1 {
    color: #1E8DF2;
    text-decoration: none;
}

.test2 {
    color: #A89D9D;
    text-decoration: none;
}

.test3 {
    color: white;
    text-decoration: none;
}

.pad {
    padding: 30px 0 20px 0;
}

.social {
    margin-top: 10px;
    display: inline-block;
}